@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.signup{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url(../assets/bg-auth.png);
}
.signup-image{
    width: 50%;
    height: 100vh;
    background-image: url(../assets/signInImage.png);
}
.signup-text{
    width: 50%;
    height: 100vh;
    background-color: #080c2b;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    padding: 150px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.signup-text h1{
    font-size: 30px;
    padding-bottom: 10px;
    font-weight: 700;
}
.signup-text h2{
    font-size: 15px;
    font-weight: 200;
    padding-bottom: 60px;
}
.signup-text h3{
    font-size: 15px;
    padding-bottom: 5px;
}
.signup-text input{
    width: 300px;
    background-color:#0f1535;
    opacity: 1;
    height: 40px;
    border-radius: 15px;
    margin-bottom: 30px;
    margin-top: 5px;
    border: 2px solid #434a61;
    color: white;
    padding: 15px;
    outline: none;
}
input:active, input:scope{
    border: 2px solid blue;
}
::placeholder{
    color: #434a61;
    opacity: 1;
}
.signup-text button{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    background-color: #0075ff;
    border: none;
    color: white;
    font-weight: 600;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin-top: 20px;
}

.signup-text h4{
    color: #848fa3;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    width: 300px;
    margin-top: 20px;
}
.signup-text h4 a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}